main{
    align-items: center;
    height: 800px;
    width: 500px;
    border:1px solid black ;
    text-align: center;
    background-color: rgb(218, 212, 212);
}
li{
    text-decoration: none;
}
.list{
    text-decoration: none;
    /* align-items: center; */
    text-align: center;
}
.ulTag{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 350px;
    width: 450px;
    border: 2px solid black;
}
.listDesign{
    border: 1px solid black;
    height: 50px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
.inputs{
    height: 300px;
    display: flex;
    justify-content: center;
}