@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');


$font-body: 'Fredoka', sans-serif;
$font-body-main:'Roboto', sans-serif;

$color-button:#1774A8;
$color-header: #116099;
$color-black:#333333;
$color-white:#fefefe;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    // color: $color-white;
}
