.gridTopLeft{
    grid-area: topLeft;
}
.gridTopRight{
    grid-area: topRight;
}
.gridBottom{
    grid-area: bottom;
}
.gridTop{
    grid-area: top;
}
.leftContentTopDetail{
    width: 490px;
    display: flex;
    justify-content: space-between;
    
}
.leftContent{
    grid-area: Lcontent;
    
}
.leftContentBottom{
    grid-area: leftBottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"img rightImage rightImage";
    .imageRightContent{
        grid-area: rightImage;
    }
}
.image{
    grid-area: img;
}
.rightContent{
    grid-area: Rcontent;
}

.bottomPara1{
    grid-area: bottomp1;
}
.bottomPara2{
    grid-area: bottomp2;
}
.bottomHeader{
    grid-area: bottomp3;
}
.bottomPara3{
    grid-area: bottomp4;
}
main{
    // border: 2px solid black;
    width: 80%;
    height: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "gridTop" 
    "gridTop" 
    "bottom"
    ;
    gap: 10px;

    >*{
        background-color: aquamarine;
        // display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
// .gridTop{
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 1fr;
//     grid-template-areas: "Lcontent img Rcontent";
//     gap: 10px;

//     >*{
//         background-color: aquamarine;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

.gridBottom{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bottomp1 bottomp2 bottomp3 bottomp3 bottomp4" 
    
    ;
    gap: 10px;

    >*{
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
