nav {
  grid-area: navigation;
}

section {
  grid-area: sec;
}

div {
  grid-area: div;
}

footer {
  grid-area: foot;
}

main {
  border: 2px solid black;
  width: 80%;
  height: 600px;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "navigation" "navigation" "sec";
  gap: 10px;
}
main > * {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}