
body{
    // width: 1230px;
    // width: 800px;
    background-color: black;
}
// .main{
    // position: relative;
    // width: 1230px;
    // height: 4096px;
    // background-color: black;
// }
.navigation{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    // position: absolute;
    // width: 1200px;
    height: 91px;
    margin: 0 auto;
    // left: 0px;
    // top: 0px;
}
.welcomePageContent{
    // width: 1250px;
    height: 300px;
    margin-top: 300px;
    margin-left: 600px;
    margin-bottom: 100px;
}
.projects{
    height: 500px;
    max-width: 1200px;
    // width: 100%;
    // display: flex;
    // justify-content: space-around;
}
.aboutMeSection{
    height: 550px;
    max-width: 1200px;
    // display: flex;
    // justify-content: center;
}
.IndustryExperience{
    height: 450px;
    max-width: 1200px;
    // display: flex;
    // justify-content: center;
}
.CotactSection{
    height: 400px;
    max-width: 1200px;
}