@media (max-width:500px){
    .navigation{
        height: 50px;
    .navLinks{
        flex-direction: row;
        font-weight: 500;
        font-size: 15px;
    }
}
}
@media (max-width:600px){
    .welcomePageContent{
        height: 250px;
        margin-top: 10px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    .welcomeContent{
        margin-top: 50px;
        height: 200px;
        width: 50%;
        .image1{
            height: 200px; 
            width: 100%;
            // transform: rotate(90deg);  
        }
        }
        .welcomePara{
            margin-top: 50px;
            height: 200px;  
            font-weight: 150;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            h2{
                margin: 0;
                padding: 0;
                line-height:40px;
            }
            
            .viewButton{
                height: 20px;
                font-weight: 300;
                font-size: 10px;
            }
        }
    }
}
    // header class
    .headerClass{
        // margin-top: 20px;
        // margin-bottom: 10px;
        height: 40px;
        // font-family: 'Work Sans';
        font-weight: 700;
        font-size: 30px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // color: #116099;
        // max-width: 1200px;
    }

    // Myprojects
    @media (max-width:850px){
    .projects{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .dada{
            width: 100%;
            height: 200px;
            font-family: 'Work Sans';
            font-weight: 150;
            font-size: 25px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            // color: $color-white;
        }
        .imageMobile{
            width: 100%;
            height: 200px;
            // background: #000E1B;
            display: flex;
            justify-content: center;
            align-items: center;
            .frame2{
            height: 200px;
            transform: rotate(12.68deg);
        }
        }
    }

    // About Me
    .aboutMeSection{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .aboutFlex{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            .myPic{
                height: 200px;   
            }
        }
        .aboutMeContent{
            width: 100%;
            height: 450px;
            font-weight: 150;
            font-size: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

        }
    }

    // Industry

    .IndustryExperience{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0;
        .experienceContent{
            width: 100%;
            height: 200px;
            font-weight: 150;
            font-size: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .skills{
            height: 200px;
            width: 100%;
            // font-family: 'Work Sans';
            font-weight: 150;
            font-size: 20px;
            text-align: center;
            // color: $color-white;
        }
        .skillList{
            text-align: left;
        }
        #skillHeader{
            // padding: 2%;
            margin-left: 0;
            margin-top: 0;
        }
    }

    // contact
    .CotactSection{
        height: 100px;
        .contactContent{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            // color: $color-white;
            font-size: 10px;
            // .gmail{
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     text-decoration: none;
            // }
            #gmailIcon{
                height: 10px;
                
            }
            #linkedInIcon{
                height: 10px;
            }
        }
    }
    }